#app {
  nav.side-navbar {
    position: fixed;
    min-width: 250px;
    max-width: 250px;

    &.shrinked {
      min-width: 90px;
      max-width: 90px;

      span.nav-link-text {
        display: none;
        visibility: hidden;
      }
    }

    .navbar-brand {
      font-family: 'Grand Hotel';
      font-size: 2rem;
      font-style: italic;
    }

    .media.userspace {
      padding: 30px 15px;

      .user-avatar {
        height: 3.6rem;
        width: auto;
      }

      .media-body {
        margin-left: 10px;
      }
    }

    ul li a {
      padding: 10px 15px;
      font-weight: 300;
      border-left: 4px solid transparent;
      transition: all 0.3s;

      &.white-left-menu-entry {
        color: #fff;
      }

      &:hover, &.active {
        background: #00bc8c;
        border-left: 4px solid #00febd;
        color: #fff;
        text-decoration: none;
      }

      i[class*=" icofont-"] {
        font-size: 2rem;
      }
    }

    ul.navbar-nav {
      li.nav-item {
        i.warning-icon {
          cursor: pointer;
          position: absolute;
          right: 6px;
        }

        span.badge {
          position: absolute;
          right: 6px;
        }
      }
    }
  }

  div.content-inner {
    position: relative;
    width: calc(100% - 250px);
    left: 250px;
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;

    div.alerts-container {
      width: calc(100% - 20px) !important;
    }

    &.expanded {
      left: 90px;
      width: calc(100% - 90px);
    }
  }
}
