.badge {
  &.list-group-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.list-group-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .badge-float-right {
    position: absolute;
    right: 0.3em;
  }
}
