.flag-select {
  &.flag-select-in-form {
    background-color: #fff !important;
    border-radius: 0.25rem;
    height: 100%;
    padding-bottom: 0px;
    position: relative;
    width: 100%;

    .selected--flag--option {
      position: absolute;
      top: 0.4em;
      width: 100%;

      .arrow-down {
        float: right;
      }

      .country-label {
        padding-left: 0.25em;
      }
    }

    .flag-options {
      top: 2em;
      width: 100%;
    }
  }

  &:not(.flag-select-in-form) {
    padding-bottom: 0;
    .selected--flag--option {
      padding: 0;
    }
  }

  img {
    top: 0;
  }
}
