.wizard {
  .wizard-progress {
    .step {
      background-color: $primary;
      border-radius: 50%;
      padding: .6em 1.05em;

      &.done {
        background-color: $success;
      }
    }
  }
}
