<div id="app">
  <div class="d-flex flex-column h-100 justify-content-center align-items-center loading-page">
    <div class="app-title">
      <h1>Commis</h1>
    </div>
    <div class="d-flex">
      <span class="d-flex flex-column justify-content-center">
        Loading application ...
      </span>
    </div>
  </div>
</div>
