$badge-font-size: 80%;
$dropdown-link-hover-bg: $green;
$hr-border-color: rgba($black, .25);
$hr-margin-y: 0.7rem;
// $hr-opacity: 0.25; TO BE USED WITH NEWER VERSION OF BOOTSTRAP!
$popover-max-width: 500px;
